#faxtex{
    padding: 60px 0px;
    .container{
        padding: 0;
        .row{
            margin: 0;
           .col-xl-9{
          .row{
            margin: 0;
            .col-xl-6{
                .faxtex_item{
                    h5{
                        font-size: 14px;
                        color: rgb(141, 136, 136);
                    }
                    span{
                        font-size: 22px;
                        font-weight: 500;
                    }
                    .faxicon_box{
                        i{
                            color: $btn_clr;
                            margin-right: 2px;
                        }
                    }
                    .faxtex_links{
                        a{
                            text-decoration: none;
                            color: #fff;
                            border-radius: 3px;
                            display: inline-block;
                            padding: 3px 10px;
                            &:hover{
                                opacity: 0.8;
                            }
                            &:nth-child(1){
                             background-color:rgb(36, 36, 98);
                            }
                            &:nth-child(2){
                                background-color: rgb(23, 124, 232);
                            }
                        }
                    }
                    .faxtex_list{
                        margin-top: 5px;
                        ul{
                            padding: 0;   
                            li{
                                list-style-type: disc !important;
                                color: gray;
                                margin-bottom: 5px;
                            }
                        }
                    }
                    .faxtex_ftr{
                        span{
                            font-size: 14px;
                        }
                        p{
                            margin: 0;
                            span{
                                font-weight: 600;
                            }
                        }
                        h6{
                            span{
                                color:$btn_clr;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
           }
           }
            .col-xl-3{
                .card_item{
                    padding: 15px;
                    width:100%;
                    height: 100%;
                    border: 2px solid rgba(189, 187, 187, 0.793);
                    border-radius: 15px;
                    p{
                        font-size: 14px;
                        margin: 0;
                        span{
                            color: green;
                            font-weight: 600;
                        }
                    }
                    h5{
                        font-size: 30px;
                        color: cartprice_color;
                    }
                    h6{
                        color: rgb(161, 157, 157);
                        text-decoration: line-through;
                    }
                    .size{
                       margin-top: 20px;
                       p{
                        margin-bottom: 6px;
                       }
                       .sizes{
                        display: flex;
                        gap: 4px;
                        span{
                           font-weight: 600;
                           width: 35px;
                           height: 35px;
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           border: 1px solid rgb(200, 194, 194);
                           border-radius: 50%;
                           transition: all ease-in-out .2s;
                           }
                           
                       }
                       
                    }
                    .color{
                       margin-top: 20px;
                       p{
                        color: $cartprice_color;
                       }
                       .colors{
                        display: flex;
                        gap: 4px;
                        span{
                            width: 35px;
                            height: 35px;
                            display: inline-block;
                            border-radius: 50%;
                            &:nth-child(1){
                                background-color: blue;
                            }
                            &:nth-child(2){
                                background-color: black;
                            }
                            &:nth-child(3){
                                background-color: red;
                            }
                            &:nth-child(4){
                                background-color:yellow;
                            }
                        }
                       }
                    }
                    .quantity{
                        margin-top: 15px;
                        span{
                            color: $cartprice_color;
                        }
                        .quantity_item{
                            display: flex;
                            border-radius: 18px;
                            padding: 5px 10px;
                            width: 120px;
                            border: 1px solid rgb(170, 165, 165);
                            gap: 6px;
                            button{
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                background-color: rgb(205, 199, 199);
                                border: none;
                                border-radius: 50%;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .item_btns{
                        margin-top: 15px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        button{
                            display: block;
                            border: none;
                            width: 240px;
                            border-radius: 15px;
                            padding: 12px 20px;
                            margin-top: 10px;
                            font-size: 13px;
                            transition: all ease-in-out .3s;
                            font-weight: 600;
                            &:nth-child(1){
                                background-color: $btn_clr;
                                color: #fff;
                                &:hover{
                                    background-color: $slider_txt_clr;
                                    color: #fff;
                                }
                            }
                            &:nth-child(2){
                                background-color: $slider_txt_clr;
                                color: #fff;
                                &:hover{
                                    background-color:$btn_clr;
                                    color: $slider_txt_clr;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//accessories section
#accessories{
    padding: 60px 0px;
    .container{
        padding: 0;
        border: 1px solid rgb(207, 204, 204);
        border-radius: 15px;
        .acces_title{
            display: flex;
            justify-content: center;
           ul{
            padding: 0 !important;
            display: flex;
            gap: 20px;
            @media(max-width:576px){
                gap: 13px;
                li{
                    font-size: 14px;
                }
            }
            li{
                color: rgb(136, 131, 131);
                &:nth-child(1){
                    font-weight: 600;
                    color: #333333;
                    border-bottom: 2px solid $btn_clr;
                }
            }
           }
        }
        .row{
            margin: 0;
            padding: 20px;
           
            .col-xl-3{
              .acces_item{
                p{
                    margin: 0;
                    font-size: 15px;
                    color:$card_txt_clr;
                    font-weight: 600;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                span{
                    font-size: 18px;
                    color: rgb(147, 145, 145);
                    font-weight: 500;
                }
              }
              .acces_btn{
                p{
                    color:rgb(176, 10, 10);
                    font-size: 23px;
                }
                button{
                    background-color: $btn_clr;
                    border-radius: 18px;
                    border: none;
                    width: 250px;
                    padding: 10px 20px;
                    color: $cartprice_color;
                    font-weight: 600;
                    transition: all ease-in-out .3s;
                    &:hover{
                        color: #fff;
                        background-color: $slider_txt_clr;
                    }
                }
              }
            }
        }
        .acces_ftr{
            ul{
                li{
                    color: $card_txt_clr;
                    text-decoration: underline;
                    &:nth-child(1){
                      color: #333333;
                      text-decoration: none;
                    }
                    font-size: 13px;
                    margin-bottom: 10px;
                    select{
                        border: 1px solid rgba(174, 172, 172, 0.79);
                        border-radius: 10px;
                        padding: 0px 10px;
                        color: #333333;
                    }
                    input{
                    accent-color: rgb(133, 133, 133);
                    }
                
                }
            }
        }

    }
}