#register{
    padding-bottom: 100px;
    padding-top: 30px;
    .container{
        padding: 0;
        .acc_title{
            font-size: 14px;
           
            a{
                text-decoration: none;
                color: black;
                transition: all ease-in-out .3s;
                &:hover{
                    color: $btn_clr;
                }
            }
            i{
                font-size: 12px;
            }
        }
        .row{
            margin: 0;
            padding: 0px 30px;
            .col-xl-6{
                p{
                    margin-top: 5px;
                    font-size: 14px;
                }
                .progress{
                    height: 1px;
                }
              form{
                label{
                    display: block;
                    font-weight: 600;
                    margin-top: 8px;
                }
                input{
                    margin-top: 8px;
                    display: block;
                    width: 100%;
                    border-radius: 18px;
                    border: 1px solid rgba(191, 186, 186, 0.759);
                    padding: 6px 0px;
                }
                button{
                    @include loginbtn($btn_clr,none,13px,10px 25px,20px,$slider_txt_clr,600,10px);
                }
              }
              .form_container{
                 padding: 0px 25px;
                 ul{
                    padding: 0;
                    li{
                        margin-top: 6px;
                        font-size: 13px;
                        i{
                            font-size: 19px;
                            color: rgb(16, 212, 16);
                        }
                    }
                 }
                 button{
                   @include loginbtn($btn_clr,none,13px,10px 25px,20px,$slider_txt_clr,600,10px);
                 }
              }
            }
        }
    }
}
