@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto&family=Rubik:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
}

header #header_top {
  padding: 5px 0px;
}
header #header_top hr {
  margin: 0;
  color: rgb(176, 173, 173);
}
@media (max-width: 576px) {
  header #header_top {
    display: none;
  }
}
header #header_top .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
}
header #header_top .container .top_left {
  display: inline-block;
}
header #header_top .container .top_left ul {
  padding: 0;
  display: flex;
}
header #header_top .container .top_left ul li {
  font-size: 14px;
  margin-right: 10px;
}
header #header_top .container .top_left ul li i {
  color: #fed700;
}
header #header_top .container .top_right {
  display: inline-block;
}
header #header_top .container .top_right ul {
  display: flex;
  padding: 0;
}
header #header_top .container .top_right ul li {
  position: relative;
  font-size: 14px;
  margin: 0px 10px;
}
header #header_top .container .top_right ul li a {
  text-decoration: none;
  color: #333;
}
header #header_top .container .top_right ul li i {
  cursor: pointer;
}
header #header_top .container .top_right ul li .globe_content {
  visibility: hidden;
  z-index: 2;
  width: 200px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top: 2px solid #fed700;
  position: absolute;
  right: -3px;
  display: flex;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header #header_top .container .top_right ul li .globe_content ul {
  border: 1px solid rgba(223, 219, 219, 0.481);
  width: 50%;
  display: inline-block;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header #header_top .container .top_right ul li .globe_content ul li {
  margin-left: 0px;
  margin-top: 5px;
  padding: 0px 4px;
  cursor: pointer;
}
header #header_top .container .top_right ul li .globe_content ul li:hover {
  color: #fed700;
}
header #header_top .container .top_right ul li .globe_content ul li:nth-child(1) {
  font-weight: 600;
}
header #header_top .container .top_right ul li .globe_content ul li:nth-child(5) {
  background-color: rgba(184, 179, 179, 0.374);
}
header #header_top .container .top_right ul li:hover .globe_content {
  visibility: visible;
}
header #header_mid {
  padding: 15px 0px;
}
@media (max-width: 576px) {
  header #header_mid {
    display: none;
  }
}
header #header_mid .container {
  padding: 0;
}
header #header_mid .container .col-6 form {
  transform: translateX(120px);
}
header #header_mid .container .col-6 form input {
  width: 530px;
  border-radius: 15px;
  border: 2px solid #fed700;
  padding: 5px 6px;
  color: gray;
}
header #header_mid .container .col-6 form button {
  transform: translateX(-49px);
  background-color: #fed700;
  border: none;
  padding: 5px 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
header #header_mid .container .col-4 ul {
  display: flex;
  justify-content: end;
  gap: 20px;
}
header #header_mid .container .col-4 ul li {
  position: relative;
  margin-right: 56px;
}
header #header_mid .container .col-4 ul li:hover span {
  margin-bottom: 7px;
}
header #header_mid .container .col-4 ul li:hover i {
  color: #fed700;
}
header #header_mid .container .col-4 ul li i {
  font-size: 25px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
header #header_mid .container .col-4 ul li span {
  transition: all ease-in-out 0.2s;
  position: absolute;
  bottom: -2px;
  right: -7px;
  font-size: 14px;
  background-color: #fed700;
  border-radius: 50%;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
header #header_mid .container .col-4 ul li p {
  display: inline-block;
  position: absolute;
  right: -52px;
  top: 5px;
  font-weight: 600;
}
header #header_ftr {
  padding-top: 10px;
}
@media (max-width: 576px) {
  header #header_ftr {
    display: none;
  }
}
header #header_ftr .container {
  padding: 0;
}
header #header_ftr .container .col-3 span {
  background-color: #fed700;
  border-radius: 10px;
  display: block;
  padding: 8px 0px;
  cursor: pointer;
}
header #header_ftr .container .col-3 .department_cntnt {
  z-index: 1;
  padding: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header #header_ftr .container .col-3 .department_cntnt li {
  position: relative;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 4px 0px;
}
header #header_ftr .container .col-3 .department_cntnt li:nth-child(1) {
  font-weight: 600;
}
header #header_ftr .container .col-3 .department_cntnt li:hover {
  background-color: rgba(197, 191, 191, 0.618);
}
header #header_ftr .container .col-3 .department_cntnt li:hover .container {
  display: block;
}
header #header_ftr .container .col-3 .department_cntnt li .container {
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: -114px;
  width: 970px;
  left: 315px;
  height: 405px;
}
header #header_ftr .container .col-3 .passive_cntnt {
  display: none;
}
header #header_ftr .container .col-7 ul {
  display: flex;
  padding-top: 6px;
  gap: 16px;
}
header #header_ftr .container .col-7 ul li {
  position: relative;
}
header #header_ftr .container .col-7 ul li:nth-child(1) a {
  color: red;
}
header #header_ftr .container .col-7 ul li:nth-child(1) i {
  color: red;
}
header #header_ftr .container .col-7 ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
header #header_ftr .container .col-7 ul li i {
  font-size: 12px;
}
header #header_ftr .container .col-7 ul li .span {
  position: absolute;
  top: -13px;
  right: 1px;
  font-size: 11px;
  display: block;
  padding: 0px 3px;
  color: #fff;
}
header #header_ftr .container .col-7 ul .home:hover ul {
  display: block;
}
header #header_ftr .container .col-7 ul .home ul {
  gap: 4px;
  padding: 10px;
  width: 200px;
  flex-direction: column;
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 27px;
}
header #header_ftr .container .col-7 ul .home ul li a {
  color: #333 !important;
  font-weight: 400;
  font-size: 15px;
  transition: all ease-in-out 0.2s;
}
header #header_ftr .container .col-7 ul .home ul li a:hover {
  color: #fed700 !important;
}
header #header_ftr .container .col-7 ul .catalog:hover .container {
  display: block;
}
header #header_ftr .container .col-7 ul .catalog .container {
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 27px;
  left: -90px;
  width: 970px;
  padding: 15px 0px;
}
header #header_ftr .container .col-7 ul .catalog .container .col-3 ul {
  flex-direction: column;
  gap: 5px;
}
header #header_ftr .container .col-7 ul .catalog .container .col-3 ul li {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
header #header_ftr .container .col-7 ul .catalog .container .col-3 ul li:nth-child(1) {
  font-weight: 600;
}
header #header_ftr .container .col-7 ul .catalog .container .col-3 ul li:hover {
  color: #fed700;
}
header #header_ftr .container .col-7 ul .catalog span {
  background-color: rgb(87, 199, 87);
}
header #header_ftr .container .col-7 ul .gift:hover .container {
  display: block;
}
header #header_ftr .container .col-7 ul .gift .container {
  left: -170px;
  width: 955px;
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 27px;
}
header #header_ftr .container .col-7 ul .gift .container .gift_cntnt {
  padding-top: 10px;
}
header #header_ftr .container .col-7 ul .gift .container .gift_cntnt img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  position: relative;
}
header #header_ftr .container .col-7 ul .gift .container .gift_cntnt p {
  color: red;
}
header #header_ftr .container .col-7 ul .gift .container .gift_cntnt p span {
  display: inline-block;
  background-color: #fff;
  font-size: 14px;
  color: rgba(116, 114, 114, 0.567);
  text-decoration: line-through;
}
header #header_ftr .container .col-7 ul .pages:hover ul {
  display: block;
}
header #header_ftr .container .col-7 ul .pages ul {
  padding: 2px 4px;
  width: 200px;
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 27px;
}
header #header_ftr .container .col-7 ul .pages ul li {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
header #header_ftr .container .col-7 ul .pages ul li:hover {
  color: #fed700;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: space-between;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(2) .flyout_rght_cntnt {
  display: none;
  position: absolute;
  top: -22px;
  right: -4px;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(2):hover .flyout_rght_cntnt {
  display: block;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(2):hover li {
  color: #333;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(1) {
  position: relative;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(1):hover .flyout_lft_cntnt {
  display: block;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(1):hover li {
  color: #333;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(1) .flyout_lft_cntnt {
  display: none;
  position: absolute;
  left: -204px;
  top: -26px;
}
header #header_ftr .container .col-7 ul .pages ul li:nth-child(1) .flyout_lft_cntnt ul {
  padding: 0;
}
header #header_ftr .container .col-7 ul .pages ul li i {
  color: black;
  font-size: 14px;
}
header #header_ftr .container .col-7 ul .pages span {
  background-color: rgb(56, 93, 189);
}
header #header_ftr .container .col-7 ul .feature span {
  background-color: rgb(236, 19, 19);
}
header #header_ftr .container .col-2 span {
  font-size: 13px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */