@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto&family=Rubik:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
}

header #header_top {
  padding: 5px 0px;
}
header #header_top hr {
  margin: 0;
  color: rgb(176, 173, 173);
}
@media (max-width: 576px) {
  header #header_top {
    display: none;
  }
}
header #header_top .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
}
header #header_top .container .top_left {
  display: inline-block;
}
header #header_top .container .top_left ul {
  padding: 0;
  display: flex;
}
header #header_top .container .top_left ul li {
  font-size: 14px;
  margin-right: 10px;
}
header #header_top .container .top_left ul li i {
  color: #fed700;
}
header #header_top .container .top_right {
  display: inline-block;
}
header #header_top .container .top_right ul {
  display: flex;
  padding: 0;
}
header #header_top .container .top_right ul li {
  position: relative;
  font-size: 14px;
  margin: 0px 10px;
}
header #header_top .container .top_right ul li a {
  text-decoration: none;
  color: #333;
}
header #header_top .container .top_right ul li i {
  cursor: pointer;
}
header #header_top .container .top_right ul li .globe_content {
  visibility: hidden;
  z-index: 2;
  width: 200px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top: 2px solid #fed700;
  position: absolute;
  right: -3px;
  display: flex;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header #header_top .container .top_right ul li .globe_content ul {
  border: 1px solid rgba(223, 219, 219, 0.481);
  width: 50%;
  display: inline-block;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header #header_top .container .top_right ul li .globe_content ul li {
  margin-left: 0px;
  margin-top: 5px;
  padding: 0px 4px;
  cursor: pointer;
}
header #header_top .container .top_right ul li .globe_content ul li:hover {
  color: #fed700;
}
header #header_top .container .top_right ul li .globe_content ul li:nth-child(1) {
  font-weight: 600;
}
header #header_top .container .top_right ul li .globe_content ul li:nth-child(5) {
  background-color: rgba(184, 179, 179, 0.374);
}
header #header_top .container .top_right ul li:hover .globe_content {
  visibility: visible;
}
header #header_mid {
  z-index: 2;
  padding: 8px 0px;
}
@media (max-width: 576px) {
  header #header_mid {
    display: none;
  }
}
header #header_mid .container {
  padding: 0;
}
header #header_mid .container .col-6 form {
  transform: translateX(120px);
}
header #header_mid .container .col-6 form input {
  width: 530px;
  border-radius: 15px;
  border: 2px solid #fed700;
  padding: 5px 6px;
  color: gray;
}
header #header_mid .container .col-6 form button {
  transform: translateX(-49px);
  background-color: #fed700;
  border: none;
  padding: 5px 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
header #header_mid .container .col-4 ul {
  display: flex;
  justify-content: end;
  gap: 20px;
}
header #header_mid .container .col-4 ul li {
  position: relative;
  margin-right: 56px;
}
header #header_mid .container .col-4 ul li:hover span {
  margin-bottom: 7px;
}
header #header_mid .container .col-4 ul li:hover i {
  color: #fed700;
}
header #header_mid .container .col-4 ul li i {
  font-size: 25px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
header #header_mid .container .col-4 ul li span {
  transition: all ease-in-out 0.2s;
  position: absolute;
  bottom: -2px;
  right: -7px;
  font-size: 14px;
  background-color: #fed700;
  border-radius: 50%;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
header #header_mid .container .col-4 ul li p {
  display: inline-block;
  position: absolute;
  right: -52px;
  top: 5px;
  font-weight: 600;
}
header #header_mid .container .col-4 ul li .offcanvas-body h5 {
  text-align: center;
}
header #header_mid .container .col-4 ul li .offcanvas-body .icon_box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
header #header_mid .container .col-4 ul li .offcanvas-body .icon_box i {
  color: #333;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid gray;
  transition: all ease-in-out 0.3s;
}
header #header_mid .container .col-4 ul li .offcanvas-body .icon_box i:hover {
  background-color: rgba(50, 50, 160, 0.753);
  color: #fff;
}
header #header_mid .container .col-4 ul li .offcanvas-body button {
  background-color: transparent;
  border: 1px solid rgba(183, 181, 181, 0.604);
  padding: 10px 70px;
  border-radius: 20px;
  display: block;
  margin: 15px auto;
  color: rgba(128, 128, 128, 0.719);
  font-weight: 600;
}
header #header_ftr {
  padding-top: 10px;
}
@media (max-width: 576px) {
  header #header_ftr {
    display: none;
  }
}
header #header_ftr .container {
  padding: 0;
}
header #header_ftr .container .col-3 span {
  background-color: #fed700;
  border-radius: 10px;
  display: block;
  padding: 8px 0px;
  cursor: pointer;
}
header #header_ftr .container .col-3 .department_cntnt {
  position: absolute;
  width: 310px;
  z-index: 2;
  padding: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header #header_ftr .container .col-3 .department_cntnt li {
  position: relative;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  padding: 4px 0px;
}
header #header_ftr .container .col-3 .department_cntnt li:nth-child(1) {
  font-weight: 600;
}
header #header_ftr .container .col-3 .department_cntnt li:hover {
  background-color: rgba(197, 191, 191, 0.618);
}
header #header_ftr .container .col-3 .department_cntnt li:hover .container {
  display: block;
}
header #header_ftr .container .col-3 .department_cntnt li .container {
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: -114px;
  width: 970px;
  left: 309px;
  height: 405px;
}
header #header_ftr .container .col-3 .passive_cntnt {
  display: none;
}
header #header_ftr .container .col-2 span {
  font-size: 13px;
  font-weight: 700;
}
header #mob_nav {
  display: none;
  padding: 10px 0px;
  background-color: #fed700;
}
@media (max-width: 576px) {
  header #mob_nav {
    display: block;
    margin-bottom: 10px;
  }
}
header #mob_nav .mob_nav_container {
  display: flex;
  justify-content: space-between;
}
header #mob_nav .mob_nav_container i {
  display: inline-block;
  font-size: 27px;
  cursor: pointer;
}
header #mob_nav .mob_nav_container .mob_logo {
  display: inline-block;
}
header #mob_nav .mob_nav_container .mob_icons {
  display: inline-block;
}
header #mob_nav .mob_nav_container .mob_icons ul {
  margin-bottom: 0;
  display: flex;
  gap: 10px;
}
header #mob_nav .mob_nav_container .mob_icons ul li i {
  color: #333e48;
  font-weight: 600;
}

.active_nav {
  position: fixed !important;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  animation-name: fadeInUp;
  animation-duration: 0.4s;
  background-color: #fff;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
.to-top {
  width: 40px;
  height: 40px;
  border: 1px solid #fed700;
  background-color: #fed700;
  color: #333e48;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: none;
  animation-duration: 0.2s;
}
.to-top svg {
  width: 20px;
  height: 20px;
}

body {
  height: 200vh;
}

html, body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 60vh;
}
@media (max-width: 576px) {
  .swiper {
    height: 24vh;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide .container {
  height: 100%;
}
.swiper-slide .container .row {
  height: 100%;
}
.swiper-slide .container .row .col-6 {
  height: 100%;
}
.swiper-slide .container .row .col-6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide .container .row .col-6 {
  height: 100%;
}
.swiper-slide .container .row .col-6 .slider_cntnt {
  padding-top: 40px;
}
@media (max-width: 576px) {
  .swiper-slide .container .row .col-6 .slider_cntnt {
    padding-top: 1px;
  }
}
.swiper-slide .container .row .col-6 .slider_cntnt .cntnt_title {
  max-width: 303px;
  font-size: 55px;
  text-align: center;
  margin: 0 auto;
  color: #333e48;
}
@media (max-width: 576px) {
  .swiper-slide .container .row .col-6 .slider_cntnt .cntnt_title {
    font-size: 12px;
    text-align: left;
  }
}
.swiper-slide .container .row .col-6 .slider_txt {
  max-width: 280px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  color: #333e48;
  text-align: left;
}
@media (max-width: 576px) {
  .swiper-slide .container .row .col-6 .slider_txt {
    font-size: 14px;
  }
}
.swiper-slide .container .row .col-6 .price {
  font-size: 45px;
  font-weight: 600;
  color: #333e48;
}
@media (max-width: 576px) {
  .swiper-slide .container .row .col-6 .price {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.swiper-slide .container .row .col-6 button {
  background-color: #fed700;
  border: none;
  color: #333;
  padding: 10px 48px;
  border-radius: 14px;
  transition: all ease-in-out 0.3s;
}
@media (max-width: 576px) {
  .swiper-slide .container .row .col-6 button {
    padding: 6px 14px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}
.swiper-slide .container .row .col-6 button:hover {
  background-color: #333e48;
  color: #fff;
}

@media (max-width: 576px) {
  .swiper-slider2 .container .col-6 .slider_cntnt {
    padding-top: 4px;
  }
}
.swiper-slider2 .container .col-6 .slider_cntnt h5 {
  font-weight: 700;
  color: #34bcec;
  font-size: 18px;
}
@media (max-width: 576px) {
  .swiper-slider2 .container .col-6 .slider_cntnt h5 {
    font-size: 12px;
  }
}
.swiper-slider2 .container .col-6 .slider_cntnt span {
  color: #333e48;
  font-size: 48px;
  text-align: justify;
  margin-bottom: 0%;
}
@media (max-width: 576px) {
  .swiper-slider2 .container .col-6 .slider_cntnt span {
    font-size: 12px;
  }
}
.swiper-slider2 .container .col-6 .slider_cntnt button {
  display: block;
  margin: 20px auto;
  background-color: #fed700;
  border: none;
  color: #333;
  padding: 10px 48px;
  border-radius: 14px;
  transition: all ease-in-out 0.3s;
}
.swiper-slider2 .container .col-6 .slider_cntnt button:hover {
  background-color: #333e48;
  color: #fff;
}
@media (max-width: 576px) {
  .swiper-slider2 .container .col-6 .slider_cntnt button {
    padding: 6px 14px;
    margin-top: 0;
  }
}

.swiper-button-next, .swiper-button-prev {
  background-color: #333e48;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 55px;
  height: 55px;
  opacity: 0 !important;
  transition: all ease-in-out 0.4s;
}
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 17px;
}

#slider:hover .swiper-button-next, #slider:hover .swiper-button-prev {
  opacity: 1 !important;
}

#img_items {
  padding-top: 40px;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  #img_items {
    padding-top: 15px;
  }
}
#img_items .container {
  padding: 0;
}
#img_items .container .row {
  padding: 0;
  margin: 0;
}
#img_items .container .row .col-xl-3 .img {
  position: relative;
}
#img_items .container .row .col-xl-3 .img:hover::after {
  height: 100%;
}
#img_items .container .row .col-xl-3 .img::after {
  content: "";
  z-index: 1;
  background-color: rgba(228, 225, 225, 0.412);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
#img_items .container .row .col-xl-3 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

#third {
  padding-bottom: 100px;
}
#third .container {
  height: 100%;
  padding: 0;
}
#third .container .row {
  height: 100%;
  padding: 0;
  margin: 0;
}
#third .container .row .col-xl-4 .third_left {
  height: 100%;
  padding: 10px;
  border-radius: 22px;
  border: 2px solid #fed700;
}
#third .container .row .col-xl-4 .third_left .third_top {
  display: flex;
  justify-content: space-between;
}
#third .container .row .col-xl-4 .third_left .third_top span {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
}
#third .container .row .col-xl-4 .third_left .third_top p {
  background-color: #fed700;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#third .container .row .col-xl-4 .third_left .third_top p span {
  font-size: 12px;
}
#third .container .row .col-xl-4 .third_left .left_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#third .container .row .col-xl-4 .third_left .third_left_bottom h5 {
  text-align: center;
  color: #0062bd;
  font-weight: 600;
  font-size: 15px;
}
#third .container .row .col-xl-4 .third_left .third_left_bottom .third_left_price {
  text-align: center;
}
#third .container .row .col-xl-4 .third_left .third_left_bottom .third_left_price span {
  margin: 4px;
}
#third .container .row .col-xl-4 .third_left .third_left_bottom .third_left_price span:nth-child(1) {
  color: red;
  font-size: 25px;
}
#third .container .row .col-xl-4 .third_left .third_left_bottom .third_left_price span:nth-child(2) {
  font-size: 18px;
  color: gray;
  text-decoration: line-through;
}
#third .container .row .col-xl-4 .third_left .third_left_bottom h6 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
#third .container .row .col-xl-4 .third_left .third_left_bottom h6 span {
  color: rgb(155, 151, 151);
}
#third .container .row .col-xl-4 .third_left .third_left_bottom p {
  margin-top: 15px;
  text-align: center;
}
#third .container .row .col-xl-8 .container .right_side_title {
  display: flex;
  justify-content: center;
}
#third .container .row .col-xl-8 .container .right_side_title span {
  margin: 0px 10px;
  font-size: 18px;
}
#third .container .row .col-xl-8 .container .right_side_title span:nth-child(1) {
  font-weight: 600;
  border-bottom: 3px solid #fed700;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt {
  padding: 5px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt:hover {
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt:hover .right_ftr i {
  background-color: #fed700;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt:hover .right_btm {
  transform: translateY(10px);
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_txt p {
  margin: 0;
  font-size: 12px;
  color: rgba(158, 155, 155, 0.944);
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_txt p:hover {
  color: #fed700;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_txt span {
  color: #0062bd;
  font-weight: 600;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_txt span:hover {
  color: #fed700;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_img a {
  display: block;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_img a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_ftr {
  margin-top: 5px;
  display: flex;
  gap: 15px;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_ftr i {
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 198, 198, 0.637);
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_ftr span:nth-child(1) {
  color: red;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_ftr span:nth-child(2) {
  font-size: 13px;
  color: rgb(164, 161, 161);
  text-decoration: line-through;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_btm {
  transition: all ease-in-out 0.3s;
  transform: translateY(48px);
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_btm ul {
  display: flex;
  gap: 5px;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_btm ul li {
  transition: all ease-in-out 0.2s;
  font-size: 13px;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_btm ul li:hover {
  color: #fed700;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_btm ul li i {
  font-size: 13px;
}
#third .container .row .col-xl-8 .container .row .col-xl-3 .right_cntnt .right_btm hr {
  margin: 6px;
}

#bestdeals {
  background-color: #f9f9f9;
  padding-bottom: 60px;
}
#bestdeals .container .row {
  margin: 0;
  padding: 0;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt {
  background-color: #fff;
  padding: 5px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt:hover {
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt:hover .right_ftr i {
  background-color: #fed700;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt:hover .right_btm {
  transform: translateY(10px);
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_txt p {
  margin: 0;
  font-size: 12px;
  color: rgba(158, 155, 155, 0.944);
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_txt p:hover {
  color: #fed700;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_txt span {
  color: #0062bd;
  font-weight: 600;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_txt span:hover {
  color: #fed700;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_img a {
  display: block;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_img a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_ftr {
  margin-top: 5px;
  display: flex;
  gap: 15px;
}
@media (max-width: 576px) {
  #bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_ftr {
    gap: 7px;
  }
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_ftr i {
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 198, 198, 0.637);
  color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_ftr span:nth-child(1) {
  color: red;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_ftr span:nth-child(2) {
  font-size: 13px;
  color: rgb(164, 161, 161);
  text-decoration: line-through;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_btm {
  transition: all ease-in-out 0.3s;
  transform: translateY(48px);
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_btm ul {
  display: flex;
  gap: 15px;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_btm ul li {
  transition: all ease-in-out 0.2s;
  font-size: 13px;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_btm ul li:hover {
  color: #fed700;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_btm ul li i {
  font-size: 13px;
}
#bestdeals .container .row .col-xl-4 .col-6 .right_cntnt .right_btm hr {
  margin: 6px;
}

.sa {
  height: 100%;
}
.sa:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 90%;
  opacity: 0.6;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#bestseller {
  padding-bottom: 50px;
}
#bestseller .container {
  padding: 0;
}
#bestseller .container .row {
  margin: 0;
}
#bestseller .container .row .col-xl-4 .bestseller_item {
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
#bestseller .container .row .col-xl-4 .bestseller_item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  border-radius: 10px;
}
#bestseller .container .row .col-xl-4 .bestseller_item:hover .best_item_ftr {
  transform: translateY(10px);
}
#bestseller .container .row .col-xl-4 .bestseller_item .row {
  margin: 0;
}
#bestseller .container .row .col-xl-4 .bestseller_item .row .col-5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#bestseller .container .row .col-xl-4 .bestseller_item .row .col-7:hover .best_right_ftr i {
  background-color: #fed700;
}
#bestseller .container .row .col-xl-4 .bestseller_item .row .col-7 p {
  font-size: 14px;
  margin: 0;
  color: rgba(176, 174, 174, 0.907);
}
#bestseller .container .row .col-xl-4 .bestseller_item .row .col-7 span {
  color: #0062bd;
  font-weight: 600;
}
#bestseller .container .row .col-xl-4 .bestseller_item .row .col-7 .best_right_ftr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  transform: translateY(55px);
}
@media (max-width: 576px) {
  #bestseller .container .row .col-xl-4 .bestseller_item .row .col-7 .best_right_ftr {
    gap: 5px;
    transform: translateY(25px);
  }
}
#bestseller .container .row .col-xl-4 .bestseller_item .row .col-7 .best_right_ftr span:nth-child(1) {
  color: red;
  font-weight: 400;
}
#bestseller .container .row .col-xl-4 .bestseller_item .row .col-7 .best_right_ftr span:nth-child(2) {
  color: rgb(175, 172, 172);
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
#bestseller .container .row .col-xl-4 .bestseller_item .row .col-7 .best_right_ftr i {
  transition: all ease-in-out 0.3s;
  background-color: rgba(195, 193, 193, 0.582);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
#bestseller .container .row .col-xl-4 .bestseller_item .best_item_ftr {
  padding: 0px 8px;
  transform: translateY(46px);
  transition: all ease-in-out 0.3s;
}
#bestseller .container .row .col-xl-4 .bestseller_item .best_item_ftr ul {
  display: flex;
  justify-content: end;
  gap: 12px;
}
#bestseller .container .row .col-xl-4 .bestseller_item .best_item_ftr ul li {
  font-size: 14px;
  color: rgb(166, 161, 161);
}
#bestseller .container .row .col-xl-4 .bestseller_item .best_item_ftr ul li:hover {
  color: #fed700;
  cursor: pointer;
}
#bestseller .container .bestseller_title {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
#bestseller .container .bestseller_title span {
  font-weight: 600;
  font-size: 20px;
}
#bestseller .container .bestseller_title ul {
  display: flex;
  gap: 16px;
}
#bestseller .container .bestseller_title ul li {
  cursor: pointer;
  border-radius: 14px;
  padding: 1px 10px;
  border: 2px solid transparent;
  transition: all ease-in-out 0.3s;
}
#bestseller .container .bestseller_title ul li:hover {
  border: 2px solid #fed700;
}
#bestseller .container .bestseller_title ul li:nth-child(1) {
  border: 2px solid #fed700;
  border-radius: 10px;
  padding: 0px 10px;
}

#header_ftr .col-7 ul {
  display: flex;
  padding-top: 6px;
  gap: 16px;
}
#header_ftr .col-7 ul li {
  position: relative;
}
#header_ftr .col-7 ul li:nth-child(1) a {
  color: red;
}
#header_ftr .col-7 ul li:nth-child(1) i {
  color: red;
}
#header_ftr .col-7 ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}
#header_ftr .col-7 ul li i {
  font-size: 12px;
}
#header_ftr .col-7 ul li .span {
  position: absolute;
  top: -13px;
  right: 1px;
  font-size: 11px;
  display: block;
  padding: 0px 3px;
  color: #fff;
}
#header_ftr .col-7 ul .home:hover ul {
  display: block;
}
#header_ftr .col-7 ul .home ul {
  gap: 4px;
  padding: 10px;
  width: 200px;
  flex-direction: column;
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 27px;
}
#header_ftr .col-7 ul .home ul li a {
  color: #333 !important;
  font-weight: 400;
  font-size: 15px;
  transition: all ease-in-out 0.2s;
}
#header_ftr .col-7 ul .home ul li a:hover {
  color: #fed700 !important;
}
#header_ftr .col-7 ul .catalog:hover .container {
  display: block;
}
#header_ftr .col-7 ul .catalog .container {
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 27px;
  left: -90px;
  width: 970px;
  padding: 15px 0px;
}
#header_ftr .col-7 ul .catalog .container .col-3 ul {
  flex-direction: column;
  gap: 5px;
}
#header_ftr .col-7 ul .catalog .container .col-3 ul li {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
#header_ftr .col-7 ul .catalog .container .col-3 ul li:nth-child(1) {
  font-weight: 600;
}
#header_ftr .col-7 ul .catalog .container .col-3 ul li:hover {
  color: #fed700;
}
#header_ftr .col-7 ul .catalog span {
  background-color: rgb(87, 199, 87);
}
#header_ftr .col-7 ul .gift:hover .container {
  display: block;
}
#header_ftr .col-7 ul .gift .container {
  left: -170px;
  width: 955px;
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 27px;
}
#header_ftr .col-7 ul .gift .container .gift_cntnt {
  padding-top: 10px;
}
#header_ftr .col-7 ul .gift .container .gift_cntnt img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  position: relative;
}
#header_ftr .col-7 ul .gift .container .gift_cntnt p {
  color: red;
}
#header_ftr .col-7 ul .gift .container .gift_cntnt p span {
  display: inline-block;
  background-color: #fff;
  font-size: 14px;
  color: rgba(116, 114, 114, 0.567);
  text-decoration: line-through;
}
#header_ftr .col-7 ul .pages:hover ul {
  display: block;
}
#header_ftr .col-7 ul .pages ul {
  padding: 2px 4px;
  width: 200px;
  display: none;
  border-top: 3px solid #fed700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 27px;
}
#header_ftr .col-7 ul .pages ul li {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
#header_ftr .col-7 ul .pages ul li:hover {
  color: #fed700;
}
#header_ftr .col-7 ul .pages ul li:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#header_ftr .col-7 ul .pages ul li:nth-child(2) .flyout_rght_cntnt {
  display: none;
  position: absolute;
  top: -22px;
  right: -4px;
}
#header_ftr .col-7 ul .pages ul li:nth-child(2):hover .flyout_rght_cntnt {
  display: block;
}
#header_ftr .col-7 ul .pages ul li:nth-child(2):hover li {
  color: #333;
}
#header_ftr .col-7 ul .pages ul li:nth-child(1) {
  position: relative;
}
#header_ftr .col-7 ul .pages ul li:nth-child(1):hover .flyout_lft_cntnt {
  display: block;
}
#header_ftr .col-7 ul .pages ul li:nth-child(1):hover li {
  color: #333;
}
#header_ftr .col-7 ul .pages ul li:nth-child(1) .flyout_lft_cntnt {
  display: none;
  position: absolute;
  left: -204px;
  top: -26px;
}
#header_ftr .col-7 ul .pages ul li:nth-child(1) .flyout_lft_cntnt ul {
  padding: 0;
}
#header_ftr .col-7 ul .pages ul li i {
  color: black;
  font-size: 14px;
}
#header_ftr .col-7 ul .pages span {
  background-color: rgb(56, 93, 189);
}
#header_ftr .col-7 ul .feature span {
  background-color: rgb(236, 19, 19);
}/*# sourceMappingURL=style.css.map */