header{
    #header_top{
        hr{
            margin: 0;
            color: rgb(176, 173, 173);
        }
        @media(max-width:576px){
            display: none;
        }
        padding: 5px 0px;
        .container{
        @include flex(flex,row,space-between);
            padding: 0;
            .top_left{
                display:inline-block;
                ul{
                    padding: 0;
                    display: flex;
                    li{
                        font-size: 14px;
                        margin-right: 10px;
                        i{
                            color: #fed700;
                        }
                    }
                }
            }
            .top_right{
                display: inline-block;
                 ul{
                    display: flex;
                   padding: 0;
                    li{
                        position: relative;
                        font-size: 14px;
                        margin: 0px 10px;
                        a{
                       text-decoration: none;
                       color: #333;
                        }
                        i{
                            cursor: pointer;
                        }
                        .globe_content{
                            visibility: hidden;
                            z-index: 2;
                            width: 200px;
                             border-bottom-left-radius:14px;
                             border-bottom-right-radius:14px;
                             border-top: 2px solid $btn_clr;
                            position: absolute;
                            right: -3px;
                            display: flex;
                            background-color: #fff;
                            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                            ul{
                                border: 1px solid rgba(223, 219, 219, 0.481);
                                width: 50%;
                                display: inline-block;
                                padding: 0;
                                display: flex;
                                flex-direction: column;
                                li{
                                    margin-left: 0px;
                                    margin-top: 5px;
                                    padding: 0px 4px;
                                    cursor: pointer;
                                    &:hover{
                                        color: $btn_clr;
                                    }
                                    &:nth-child(1){
                                        font-weight: 600;
                                    }
                                    &:nth-child(5){
                                        background-color: rgba(184, 179, 179, 0.374);
                                    }
                                }
                            }
                        }
                        &:hover{
                            .globe_content{
                                visibility: visible;
                            }
                        }
                    }
                 }
            }
        }
    }
    #header_mid{
        @media(max-width:576px){
            display: none;
        }
     .container{
      padding: 0;
      .col-6{
        form{
            transform: translateX(120px);
            input{
                width: 530px;
                border-radius: 15px;
                border: 2px solid $btn_clr ;
               padding: 5px 6px;
               color: gray;
            }
            button{
                transform: translateX( -49px);
                background-color: $btn_clr;
                border: none;
                padding: 5px 14px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                 
            }
        }
      }
      .col-4{
        ul{
            display: flex;
            justify-content: end;
            gap: 20px;
            li{
                position: relative;
                margin-right: 56px;

                &:hover{
                   span{
                    margin-bottom: 7px;
                   }
                   i{
                    color: $btn_clr;
                   }
                }
                i{
                    font-size: 25px;
                    cursor: pointer;
                    transition: all ease-in-out .3s;
                }
                span{
                    transition: all ease-in-out .2s ;
                    position: absolute;
                    bottom: -2px;
                    right: -7px;
                    font-size: 14px;
                    background-color: $btn_clr;
                    border-radius: 50%;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    justify-content: center;
                     align-items: center;
                      font-weight: 600;
                 }
                 p{
                    display: inline-block;
                    position: absolute;
                    right: -52px;
                    top: 5px;
                    font-weight: 600;
                 }
            }
        }
      }
     }
    }
    #header_ftr{
        padding-top: 20px;
        @media(max-width:576px){
            display: none;
        }
        .container{
            padding: 0;
            .col-3{
                span{
                    background-color: $btn_clr;
                    border-radius: 10px;
                    display: block;
                    padding: 8px 0px;
                    cursor: pointer;
                }
                .department_cntnt{
                    z-index: 1;
                    padding: 0;
                    background-color: #fff;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    li{
                        margin-top: 5px;
                        border-bottom: 1px solid rgba(189, 186, 186, 0.486);
                        display: flex;
                        justify-content: space-between;
                        cursor: pointer;
                        transition: all ease-in-out .3s;
                        padding: 4px 0px;
                        &:hover{
                            background-color: rgba(197, 191, 191, 0.618);
                        }
                    }
                }
                .passive_cntnt{
                    display: none;
                }
            }
        .col-7{
            ul{
                display: flex;
                padding-top: 6px;
                gap: 16px;
                li{
                    position: relative;
                    &:nth-child(1){
                       a{
                        color: red;
                       }
                       i{
                        color: red;
                       }
                    }
                   
                    a{
                        text-decoration: none;
                        color: #333;
                        font-weight: 600;
                    }
                    i{
                        font-size: 12px;                        
                    }
                    span{
                        position: absolute;
                        top: -13px;
                        right: 1px;
                        font-size: 11px;
                        display: block;
                        padding: 0px 3px;
                        color: #fff;
                        
                    }
                  
                }
                .home{
                    &:hover{
                        ul{
                            display: block;
                        }
                    }   
                    ul{
                        gap: 4px;
                        padding: 10px;
                        width: 200px;
                        flex-direction: column;
                        @include nav_cntnt(none,3px solid $btn_clr,10px,10px,2,#fff,absolute,rgba(0, 0, 0, 0.16) 0px 1px 4px,27px);
                        li{
                            a{
                                color: #333 !important;
                                font-weight: 400;
                                font-size: 15px;
                                transition: all ease-in-out .2s;
                                &:hover{
                                    color: $btn_clr !important;
                                }
                            }
                        }
                    }
                }
                .catalog{
                    &:hover{
                        .container{
                            display: block;
                        }
                    }   
                    .container{
                        @include nav_cntnt(none,3px solid $btn_clr,10px,10px,2,#fff,absolute,rgba(0, 0, 0, 0.16) 0px 1px 4px,27px);
                        left: -90px;
                        width: 970px;
                        .col-3{
                            ul{
                                flex-direction: column;
                                gap: 5px;
                                li{
                                    transition: all ease-in-out .3s;
                                    cursor: pointer;
                                   &:nth-child(1){
                                    font-weight: 600;
                                   } 
                                   &:hover{
                                    color: $btn_clr;
                                   }
                                }
                            }
                        }
                    }
                   span{
                    background-color: rgb(87, 199, 87);

                   }                   
                }
                .gift{
                    &:hover{
                        .container{
                            display: block;
                        }
                    }   
                    .container{
                        left: -170px;
                        width: 955px;
                        @include nav_cntnt(none,3px solid $btn_clr,10px,10px,2,#fff,absolute,rgba(0, 0, 0, 0.16) 0px 1px 4px,27px);
                        .gift_cntnt{
                            padding-top: 10px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                cursor: pointer;
                                // display: block;
                                position: relative;
                                
                                // &::after{
                                //     content: "";
                                //     position: absolute;
                                //     width: 100%;
                                //     left: 0;
                                //     top: 0;
                                //     height: 0;
                                //     transition: all ease-in-out .2s;
                                //     background-color: rgb(104, 97, 97);
                                // }
                            }
                            p{
                                color: red;
                                span{
                                    display: inline-block;
                                    background-color: #fff;
                                    font-size: 14px;
                                    color: rgba(116, 114, 114, 0.567);
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                }
                .pages{
                    span{
                        background-color: rgb(56, 93, 189);

                       }  
                }
                .feature{
                    span{
                        background-color: rgb(236, 19, 19);
    
                       }  
                }
            }
        }
        .col-2{
            span{
                font-size: 13px;
                font-weight: 700;
            }
        }
        }
    }
}
